<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script>
        window.initialData = <%- JSON.stringify(initialData) -%>
    </script>
</head>
<body>
    <div id="root"><%- initialMarkup -%></div>
    <script src="/bundle.js"></script>
</body>
</html>